@import '../colours.css';

.container {
  background: $blue;
  border: 0;
  padding: 16px;
  color: #fff;
  cursor: pointer;
  margin: 8px 0;
  min-width: 100px;
  font-size: 1rem;
  height: 56px;
}


@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

.spin {
  animation: spin 1s infinite linear;
}
