@import '../colours.css';

.container {
  margin: 8px 0;
  min-width: 200px;
  width: 100%;
  position: relative;
}

.container label{
  display: block;
  margin: 8px 0;
  color: $dark_blue;
}

.container input{
  padding: 16px;
  border: solid 1px $white;
  border-radius: 4px;
  flex:1;
}

.error input{
  border: solid 1px $red;
}

.errorContainer {
  color: $red;
  margin-top: 8px;
  font-size: 12px;
}

.input {
  position: relative;
  display: flex;

}
.icon {
  bottom: 0;
  left: 8px;
  position: absolute;
  display: flex;
  align-items: center;
  top: 0;
}

.iconPadding input {
  padding-left: 36px;
}
