@import '../colours.css';


.container {
  display: flex;
  flex-wrap: wrap;
}


.item {
  width: 100px;
  padding: 20px;
  height: 100px;
  position: relative;
  cursor: pointer;
  box-shadow: 0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);
  margin-right: 8px;
  margin-bottom: 8px;
  box-sizing: border-box;
  justify-content: center;
  display: flex;
  align-items: center;
}

.item i {
  font-size: 48px;
}


.item input {
  position: absolute;
  top: 0;
  bottom: 0;
  opacity: 0;
  width: 100%;
  cursor: pointer;
}
.active {
  border: solid 1px $green;
}



.item img{
  max-width: 100%;
  width: 100%;
  height: auto;
  vertical-align: middle;
  border: 0;
}


@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

.spin {
  animation: spin 1s infinite linear;
}
