@import '../colours.css';

.navigation {
  padding: 20px;
  box-sizing: border-box;
  background: $white;
  text-align: right;
}
.navigation li {
  display: inline-block;
}
.navigation a:hover {
  background: blue;
}
.navigation a {
  padding: 19px;
  cursor: pointer;
  box-sizing: border-box;
}
