@import "../../components/colours.css";
.container {
  flex-grow: 1;
  display: flex;
  align-items: center;
  /*justify-content: center;*/
  flex-direction: column;
}

.wrapper h2 {
  color: $dark_blue;
  margin-bottom: 2rem;
}
.wrapper button {
  width: 100%;
}

.wrapper {
  width: 100%;
  max-width: 496px;
}
